<div class="container" id="admin-module">
    <div class="page-header">
        <h1>
            <span class="msg msg-MangaWebAdmin"></span>
        </h1>
    </div>
    <div class="well">
        <span class="msg msg-PleaseWait"></span>
        <img src="img/loading.gif" />
    </div>
</div>
<div class="container" id="admin-collections-module">
    <ul class="nav nav-pills nav-admin">
        <li class="active"><a href="#" class="nav-admin-collections">
            <i class="icon-inbox"></i>
            <span class="msg msg-Collections"></span>
        </a></li>
        <li><a href="#" class="nav-admin-mangas">
            <i class="icon-book"></i>
            <span class="msg msg-Mangas"></span>
        </a></li>
        <li><a href="#" class="nav-admin-users">
            <i class="icon-user"></i>
            <span class="msg msg-Users"></span>
        </a></li>
        <li><a href="#" class="nav-admin-settings">
            <i class="icon-check"></i>
            <span class="msg msg-Settings"></span>
        </a></li>
        <li class="pull-right"><a href="#" class="nav-admin-logout">
            <i class="icon-off"></i>
            <span class="msg msg-Logout"></span>
        </a></li>
    </ul>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="td-mini"></th>
                <th class="msg msg-Name"></th>
                <th class="msg msg-Path"></th>
                <th class="msg msg-Public text-center td-small"></th>
                <th class="msg msg-AutoAdd text-center td-small"></th>
                <th class="msg msg-Users text-center td-small"></th>
            </tr>
        </thead>
        <tbody id="admin-collections-tbody">
            <tr class="vmiddle" id="admin-collections-trow">
                <td class="text-center td-mini">
                    <input type="checkbox" class="admin-collections-checkbox" />
                </td>
                <td class="break-word admin-collections-name"></td>
                <td class="break-word admin-collections-path"></td>
                <td class="text-center td-small">
                    <span class="label admin-collections-public"></span>
                </td>
                <td class="text-center td-small">
                    <span class="label admin-collections-autoadd"></span>
                </td>
                <td class="text-center td-small"><a href="#" class="msg msg-Details btn admin-collections-users"></a></td>
            </tr>
        </tbody>
    </table>
    <div class="row row-after-table">
        <div class="span6">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="msg msg-ActionOnSelected"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="admin-collections-action-dropdown">
                        <li><a href="#" id="admin-collections-delete-btn">
                            <i class="icon-trash"></i>
                            <span class="msg msg-Delete"></span>
                        </a></li>
                        <li><a href="#" id="admin-collections-edit-btn">
                            <i class="icon-edit"></i>
                            <span class="msg msg-EditName"></span>
                        </a></li>
                        <li><a href="#" id="admin-collections-public-btn">
                            <i class="icon-folder-open"></i>
                            <span class="msg msg-SetAsPublic"></span>
                        </a></li>
                        <li><a href="#" id="admin-collections-private-btn">
                            <i class="icon-folder-close"></i>
                            <span class="msg msg-SetAsPrivate"></span>
                        </a></li>
                    </ul>
                </div>
                <a href="#" class="btn" id="admin-collections-add-btn">
                    <i class="icon-plus-sign"></i>
                    <span class="msg msg-Add"></span>
                </a>
            </div>
        </div>
        <div class="span6" id="admin-collections-pagination">
        </div>
    </div>
</div>
<div class="container" id="admin-mangas-module">
    <ul class="nav nav-pills nav-admin">
        <li><a href="#" class="nav-admin-collections">
            <i class="icon-inbox"></i>
            <span class="msg msg-Collections"></span>
        </a></li>
        <li class="active"><a href="#" class="nav-admin-mangas">
            <i class="icon-book"></i>
            <span class="msg msg-Mangas"></span>
        </a></li>
        <li><a href="#" class="nav-admin-users">
            <i class="icon-user"></i>
            <span class="msg msg-Users"></span>
        </a></li>
        <li><a href="#" class="nav-admin-settings">
            <i class="icon-check"></i>
            <span class="msg msg-Settings"></span>
        </a></li>
        <li class="pull-right"><a href="#" class="nav-admin-logout">
            <i class="icon-off"></i>
            <span class="msg msg-Logout"></span>
        </a></li>
    </ul>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="td-mini"></th>
                <th class="msg msg-Title"></th>
                <th class="msg msg-Collection"></th>
                <th class="msg msg-Path"></th>
                <th class="msg msg-Type text-center td-small"></th>
                <th class="msg msg-Status text-center td-small"></th>
                <th class="msg msg-Views text-center td-small"></th>
                <th class="msg msg-Meta text-center td-small"></th>
            </tr>
        </thead>
        <tbody id="admin-mangas-tbody">
            <tr class="vmiddle" id="admin-mangas-trow">
                <td class="text-center td-mini">
                    <input type="checkbox" class="admin-mangas-checkbox" />
                </td>
                <td class="break-word admin-mangas-title"></td>
                <td class="break-word admin-mangas-collection"></td>
                <td class="break-word admin-mangas-path"></td>
                <td class="text-center td-small">
                    <span class="label admin-mangas-type"></span>
                </td>
                <td class="text-center td-small">
                    <span class="label admin-mangas-status"></span>
                </td>
                <td class="text-center td-small admin-mangas-views"></td>
                <td class="text-center td-small"><a href="#" class="msg msg-Details btn admin-mangas-meta"></a></td>
            </tr>
        </tbody>
    </table>
    <div class="row row-after-table">
        <div class="span6">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="msg msg-ActionOnSelected"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="admin-mangas-action-dropdown">
                        <li><a href="#" id="admin-mangas-delete-btn">
                            <i class="icon-trash"></i>
                            <span class="msg msg-Delete"></span>
                        </a></li>
                        <li><a href="#" id="admin-mangas-edit-btn">
                            <i class="icon-edit"></i>
                            <span class="msg msg-EditPath"></span>
                        </a></li>
                        <li><a href="#" id="admin-mangas-refresh-btn">
                            <i class="icon-refresh"></i>
                            <span class="msg msg-RefreshContent"></span>
                        </a></li>
                        <li><a href="#" id="admin-mangas-copy-meta-btn">
                            <i class="icon-pencil"></i>
                            <span class="msg msg-CopyMeta"></span>
                        </a></li>
                        <li><a href="#" id="admin-mangas-paste-meta-btn">
                            <i class="icon-pencil"></i>
                            <span class="msg msg-PasteMeta"></span>
                        </a></li>
                    </ul>
                </div>
                <a href="#" class="btn" id="admin-mangas-add-btn">
                    <i class="icon-plus-sign"></i>
                    <span class="msg msg-Add"></span>
                </a><a href="#" class="btn" id="admin-mangas-filter-btn">
                    <i class="icon-filter"></i>
                    <span class="msg msg-Filter"></span>
                </a>
            </div>
        </div>
        <div class="span6" id="admin-mangas-pagination">
        </div>
    </div>
</div>
<div class="container" id="admin-users-module">
    <ul class="nav nav-pills nav-admin">
        <li><a href="#" class="nav-admin-collections">
            <i class="icon-inbox"></i>
            <span class="msg msg-Collections"></span>
        </a></li>
        <li><a href="#" class="nav-admin-mangas">
            <i class="icon-book"></i>
            <span class="msg msg-Mangas"></span>
        </a></li>
        <li class="active"><a href="#" class="nav-admin-users">
            <i class="icon-user"></i>
            <span class="msg msg-Users"></span>
        </a></li>
        <li><a href="#" class="nav-admin-settings">
            <i class="icon-check"></i>
            <span class="msg msg-Settings"></span>
        </a></li>
        <li class="pull-right"><a href="#" class="nav-admin-logout">
            <i class="icon-off"></i>
            <span class="msg msg-Logout"></span>
        </a></li>
    </ul>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="td-mini"></th>
                <th class="msg msg-UserName"></th>
                <th class="msg msg-Administrator text-center td-small"></th>
                <th class="msg msg-Collections text-center td-small"></th>
            </tr>
        </thead>
        <tbody id="admin-users-tbody">
            <tr class="vmiddle" id="admin-users-trow">
                <td class="text-center td-mini">
                    <input type="checkbox" class="admin-users-checkbox" />
                </td>
                <td class="break-word admin-users-username"></td>
                <td class="text-center td-small">
                    <span class="label admin-users-administrator"></span>
                </td>
                <td class="text-center td-small"><a href="#" class="msg msg-Details btn admin-users-collections"></a></td>
            </tr>
        </tbody>
    </table>
    <div class="row row-after-table">
        <div class="span6">
            <div class="btn-toolbar">
                <div class="btn-group">
                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                        <span class="msg msg-ActionOnSelected"></span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="admin-users-action-dropdown">
                        <li><a href="#" id="admin-users-delete-btn">
                            <i class="icon-trash"></i>
                            <span class="msg msg-Delete"></span>
                        </a></li>
                        <li><a href="#" id="admin-users-setasadmin-btn">
                            <span class="msg msg-SetAsAdministrator"></span>
                        </a></li>
                        <li><a href="#" id="admin-users-setasuser-btn">
                            <span class="msg msg-SetAsUser"></span>
                        </a></li>
                    </ul>
                </div>
                <a href="#" class="btn" id="admin-users-add-btn">
                    <i class="icon-plus-sign"></i>
                    <span class="msg msg-Add"></span>
                </a>
            </div>
        </div>
        <div class="span6" id="admin-users-pagination">
        </div>
    </div>
</div>
<div id="admin-settings-modal" class="modal hide fade">
    <form id="admin-settings-form" class="form-horizontal">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">×</a>
        <h3 class="msg msg-Settings"></h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="msg msg-AllowGuest control-label" for="admin-settings-guest"></label>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" id="admin-settings-guest" /></label>
            </div>
        </div>
        <div class="control-group">
            <label class="msg msg-EnableZip control-label" for="admin-settings-zip"></label>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" id="admin-settings-zip" /></label>
            </div>
        </div>
        <div class="control-group">
            <label class="msg msg-EnableRar control-label" for="admin-settings-rar"></label>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" id="admin-settings-rar" /></label>
            </div>
        </div>
        <div class="control-group">
            <label class="msg msg-EnablePdf control-label" for="admin-settings-pdf"></label>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" id="admin-settings-pdf" /></label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input class="val val-Apply btn btn-primary" id="admin-settings-submit" type="submit" />
    </div>
    </form>
</div>
<div id="admin-collection-add-modal" class="modal hide fade">
    <form id="admin-collection-add-form" class="form-horizontal">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">×</a>
        <h3 class="msg msg-AddCollection"></h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="msg msg-Name control-label" for="admin-collection-add-name"></label>
            <div class="controls">
                <input type="text" id="admin-collection-add-name" maxlength="50" />
            </div>
        </div>
        <div class="control-group">
            <label class="msg msg-Path control-label" for="admin-collection-add-path"></label>
            <div class="controls">
                <div class="input-append">
                    <input type="text" id="admin-collection-add-path" maxlength="300" />
                    <a href="#" class="btn" id="admin-collection-add-browse-btn">
                        <i class="icon-folder-open"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="msg msg-Public control-label" for="admin-collection-add-public"></label>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" id="admin-collection-add-public" /></label>
            </div>
        </div>
        <div class="control-group">
            <label class="msg msg-AutoAdd control-label" for="admin-collection-add-autoadd"></label>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" id="admin-collection-add-autoadd" /></label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input class="val val-Submit btn btn-primary" id="admin-collection-add-submit" type="submit" />
    </div>
    </form>
</div>
<div id="admin-collection-editname-modal" class="modal hide fade">
    <form id="admin-collection-editname-form" class="form-inline">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">×</a>
        <h3 class="msg msg-EditName"></h3>
    </div>
    <div class="modal-body text-center">
        <input type="text" id="admin-collection-editname-name" maxlength="50" />
        <input class="val val-Submit btn btn-primary" id="admin-collection-editname-submit" type="submit" />
    </div>
    </form>
</div>
<div id="admin-user-add-modal" class="modal hide fade">
    <form id="admin-user-add-form" class="form-horizontal">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">×</a>
        <h3 class="msg msg-AddUser"></h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="msg msg-UserName control-label" for="admin-user-add-name"></label>
            <div class="controls">
                <input type="text" id="admin-user-add-name" class="plhdr plhdr-AlphabetsDigitsOnly" maxlength="30" />
            </div>
        </div>
        <div class="control-group">
            <label class="msg msg-Password control-label" for="admin-user-add-password"></label>
            <div class="controls">
                <input type="password" id="admin-user-add-password" class="plhdr plhdr-AtLeastEightCharacters" />
            </div>
        </div>
        <div class="control-group">
            <label class="msg msg-ConfirmPassword control-label" for="admin-user-add-password2"></label>
            <div class="controls">
                <input type="password" id="admin-user-add-password2" class="plhdr plhdr-EnterPasswordAgain" />
            </div>
        </div>
        <div class="control-group">
            <label class="msg msg-Administrator control-label" for="admin-user-add-administrator"></label>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" id="admin-user-add-administrator" /></label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input class="val val-Submit btn btn-primary" id="admin-user-add-submit" type="submit" />
    </div>
    </form>
</div>
<div id="admin-collection-users-modal" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">×</a>
        <h3 id="admin-collection-users-name"></h3>
    </div>
    <div class="modal-body">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th class="msg msg-UserName"></th>
                    <th class="msg msg-Access text-center"></th>
                </tr>
            </thead>
            <tbody id="admin-collection-users-tbody">
                <tr class="vmiddle" id="admin-collection-users-trow">
                    <td class="text-center td-mini">
                        <input type="checkbox" class="admin-collection-users-checkbox" />
                    </td>
                    <td class="break-word admin-collection-users-username"></td>
                    <td class="text-center td-small">
                        <span class="label admin-collection-users-access"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="btn-group dropup pull-left">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="msg msg-ActionOnSelected"></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="admin-collection-users-action-dropdown">
                <li><a href="#" id="admin-collection-users-delete-btn">
                    <i class="icon-trash"></i>
                    <span class="msg msg-Delete"></span>
                </a></li>
                <li><a href="#" id="admin-collection-users-allow-btn">
                    <i class="icon-ok-circle"></i>
                    <span class="msg msg-AllowAccess"></span>
                </a></li>
                <li><a href="#" id="admin-collection-users-deny-btn">
                    <i class="icon-ban-circle"></i>
                    <span class="msg msg-DenyAccess"></span>
                </a></li>
            </ul>
        </div>
        <span id="admin-collection-users-pagination"></span>
    </div>
    <div class="modal-footer text-left">
        <form class="form-inline" id="admin-collection-users-form">
        <input type="text" id="admin-collection-users-add-user" class="plhdr plhdr-UserName" autocomplete="off" maxlength="30" />
        <select id="admin-collection-users-add-access" class="input-medium">
            <option value="true" class="msg msg-AllowAccess"></option>
            <option value="false" class="msg msg-DenyAccess"></option>
        </select>
        <input class="val val-Add btn btn-primary" id="admin-collection-users-add-submit" type="submit" />
        </form>
    </div>
</div>
<div id="admin-user-collections-modal" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">×</a>
        <h3 id="admin-user-collections-name"></h3>
    </div>
    <div class="modal-body">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th class="msg msg-Collection"></th>
                    <th class="msg msg-Access text-center"></th>
                </tr>
            </thead>
            <tbody id="admin-user-collections-tbody">
                <tr class="vmiddle" id="admin-user-collections-trow">
                    <td class="text-center td-mini">
                        <input type="checkbox" class="admin-user-collections-checkbox" />
                    </td>
                    <td class="break-word admin-user-collections-collection"></td>
                    <td class="text-center td-small">
                        <span class="label admin-user-collections-access"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="btn-group dropup pull-left">
            <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="msg msg-ActionOnSelected"></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="admin-user-collections-action-dropdown">
                <li><a href="#" id="admin-user-collections-delete-btn">
                    <i class="icon-trash"></i>
                    <span class="msg msg-Delete"></span>
                </a></li>
                <li><a href="#" id="admin-user-collections-allow-btn">
                    <i class="icon-ok-circle"></i>
                    <span class="msg msg-AllowAccess"></span>
                </a></li>
                <li><a href="#" id="admin-user-collections-deny-btn">
                    <i class="icon-ban-circle"></i>
                    <span class="msg msg-DenyAccess"></span>
                </a></li>
            </ul>
        </div>
        <span id="admin-user-collections-pagination"></span>
    </div>
    <div class="modal-footer text-left">
        <form class="form-inline" id="admin-user-collections-form">
        <input type="text" id="admin-user-collections-add-collection" class="plhdr plhdr-Collection" autocomplete="off" maxlength="50" />
        <select id="admin-user-collections-add-access" class="input-medium">
            <option value="true" class="msg msg-AllowAccess"></option>
            <option value="false" class="msg msg-DenyAccess"></option>
        </select>
        <input class="val val-Add btn btn-primary" id="admin-user-collections-add-submit" type="submit" />
        </form>
    </div>
</div>
<div id="admin-manga-add-modal" class="modal hide fade">
    <form id="admin-manga-add-form" class="form-horizontal">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">×</a>
        <h3 class="msg msg-AddManga"></h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="msg msg-Path control-label" for="admin-manga-add-path"></label>
            <div class="controls">
                <div class="input-append">
                    <input type="text" id="admin-manga-add-path" maxlength="300" />
                    <a href="#" class="btn" id="admin-manga-add-browse-btn">
                        <i class="icon-folder-open"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="msg msg-Collection control-label" for="admin-manga-add-collection"></label>
            <div class="controls">
                <select id="admin-manga-add-collection"></select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input class="val val-Add btn btn-primary" id="admin-manga-add-submit" type="submit" />
    </div>
    </form>
</div>
<div id="admin-finder-modal" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">×</a>
        <h3 class="msg msg-FileBrowser"></h3>
    </div>
    <div class="modal-body" id="admin-finder-body">
    </div>
    <div class="modal-footer">
        <a href="#" class="msg msg-Select btn btn-primary" id="admin-finder-select"></a>
    </div>
</div>
<div id="admin-manga-edit-path-modal" class="modal hide fade">
    <form id="admin-manga-edit-path-form" class="form-horizontal">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">×</a>
        <h3 class="msg msg-EditPath"></h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="msg msg-Path control-label" for="admin-manga-edit-path"></label>
            <div class="controls">
                <div class="input-append">
                    <input type="text" id="admin-manga-edit-path" maxlength="300" />
                    <a href="#" class="btn" id="admin-manga-edit-path-browse-btn">
                        <i class="icon-folder-open"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input class="val val-Submit btn btn-primary" id="admin-manga-edit-path-submit" type="submit" />
    </div>
    </form>
</div>
<div id="admin-manga-meta-modal" class="modal hide fade">
    <form id="admin-manga-meta-form" class="form-horizontal">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">×</a>
        <h3 class="msg msg-EditMangaMeta"></h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="msg msg-Author control-label" for="admin-manga-meta-author"></label>
            <div class="controls">
                <input type="text" id="admin-manga-meta-author" maxlength="100" autocomplete="off" />
            </div>
        </div>
        <div class="control-group">
            <label class="msg msg-Title control-label" for="admin-manga-meta-title"></label>
            <div class="controls">
                <input type="text" id="admin-manga-meta-title" maxlength="100" />
            </div>
        </div>
        <div class="control-group">
            <label class="msg msg-Volume control-label" for="admin-manga-meta-volume"></label>
            <div class="controls">
                <input type="number" id="admin-manga-meta-volume" class="input-small" maxlength="9" min="0" max="999999999" />
            </div>
        </div>
        <div class="control-group">
            <label class="msg msg-Series control-label" for="admin-manga-meta-series"></label>
            <div class="controls">
                <input type="text" id="admin-manga-meta-series" maxlength="100" autocomplete="off" />
            </div>
        </div>
        <div class="control-group">
            <label class="msg msg-Year control-label" for="admin-manga-meta-year"></label>
            <div class="controls">
                <input type="number" id="admin-manga-meta-year" class="input-small" maxlength="4" min="0" max="9999" />
            </div>
        </div>
        <div class="control-group">
            <label class="msg msg-Publisher control-label" for="admin-manga-meta-publisher"></label>
            <div class="controls">
                <input type="text" id="admin-manga-meta-publisher" maxlength="100" autocomplete="off" />
            </div>
        </div>
        <div class="control-group">
            <label class="msg msg-Tags control-label" for="admin-manga-meta-tags"></label>
            <div class="controls">
                <input type="text" id="admin-manga-meta-tags" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input class="val val-Submit btn btn-primary" id="admin-manga-meta-submit" type="submit" value="Submit" />
    </div>
    </form>
</div>
<div id="admin-manga-filter-modal" class="modal hide fade">
    <form id="admin-manga-filter-form">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">×</a>
        <h3 class="msg msg-Filter"></h3>
    </div>
    <div class="modal-body">
        <table class="table">
            <tbody>
                <tr>
                    <td class="text-center">
                        <span class="msg msg-Collection"></span>
                        <br />
                        <select size="4" id="admin-manga-filter-collection"></select>
                    </td>
                    <td class="text-center">
                        <span class="msg msg-Tags"></span>
                        <br />
                        <select size="4" id="admin-manga-filter-tag"></select>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        <span class="msg msg-Author"></span>
                        <br />
                        <select size="4" id="admin-manga-filter-author"></select>
                    </td>
                    <td class="text-center">
                        <span class="msg msg-Type"></span>
                        <br />
                        <select size="4" id="admin-manga-filter-type">
                            <option value="-1" class="msg msg-All" selected="selected"></option>
                            <option value="0" class="msg msg-Zip"></option>
                            <option value="1" class="msg msg-RAR"></option>
                            <option value="2" class="msg msg-PDF"></option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <input class="val val-Apply btn btn-primary" id="admin-manga-filter-submit" type="submit" />
    </div>
    </form>
</div>
