<div id="error-modal" class="modal hide fade">
    <div class="modal-header">
        <a href="#" class="close" data-dismiss="modal">×</a>
        <h3 class="msg msg-Error"></h3>
    </div>
    <div class="modal-body">
        <p id="error-modal-msg"></p>
    </div>
</div>
<div id="login-modal" class="modal hide fade">
    <form class="form-horizontal" id="login-modal-form">
    <div class="modal-header">
        <h3 class="msg msg-Login"></h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="msg msg-UserName control-label" for="login-modal-username"></label>
            <div class="controls">
                <input type="text" id="login-modal-username" />
            </div>
        </div>
        <div class="control-group">
            <label class="msg msg-Password control-label" for="login-modal-password"></label>
            <div class="controls">
                <input type="password" id="login-modal-password" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input class="val val-Submit btn btn-primary" id="login-modal-submit" type="submit" />
        <a href="#" class="msg msg-Cancel btn" id="login-modal-cancel"></a>
    </div>
    </form>
</div>
<div id="widget-pagination" class="pagination">
    <ul class="widget-pagination-pagelist">
        <li id="widget-pagination-page"><a href="#" class="widget-pagination-page-btn"></a></li>
    </ul>
</div>
